*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  min-height: 100vh;
}

.flex-before {
  min-height: 100vh;
  width: 100vw;
  background: #000111;
}

.flex-before:first-child {
  transform: translateY(-100%);
}

.flex-item {
  height: 400px;
  width: 400px;
  background: blue;
  margin: 10px;
  visibility: hidden;
}